[submodule "libpng"]
	path = libpng
	url = ../libpng
[submodule "toolbox-base"]
	path = toolbox-base
	url = ../../base
[submodule "zlib"]
	path = zlib
	url = ../zlib
[submodule "libjpeg"]
	path = libjpeg
	url = ../libjpeg
[submodule "libtiff"]
	path = libtiff
	url = ../libtiff
